body{
    margin: 0;
    font-family: 'Playfair Display', sans-serif;
    background-color: #F0E4DC  ;
    color: #37322E;
}

header{
    text-align: center;
    font-size: 4em;
    font-family: 'Marck Script', sans-serif;
    margin-top: 8%;
    margin-bottom: -3px;
    color: #37322E;
    text-decoration: underline;
    text-decoration-style: dotted;
}

header {
    animation-name: headerguy;
    animation-duration: 4s;
}

@keyframes headerguy {
    0% { opacity: 0; transform: translateX(-500px);}
    100% { opacity: 1; transform: translateX(0);}
} 

/* nav{
    background-color: #ffffff;
} */

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-family: 'Marck Script', sans-serif;
    font-size: 1.2em;
} 

a{
    color: #37322E; 
    text-decoration: none;
}

a:visited{
    color: #37322E; 
}

.current::after{
    /* content: "⭐️"; */
    content: "🎨";
}

h1{
    text-align: center;
    font-family: 'Marck Script', sans-serif;
    font-size: 1.5em;
    margin-top: 3%;
    color: #37322E;
}


a.skip{
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}


a.skip:focus{
    top: 20px;
    color: black;
    text-decoration-style: solid;
}

#selfport{
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 10%;
}

p{
    text-align: center;
    font-size: 16px;
    margin-top: 5%;
}

.pintro{
    margin: 40px;
}


h1{
    text-align: center;
}

#me{
    margin-left: 30%;
    margin-top: 5%;
    width: 40%;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
    row-gap: 20px;
}

.grid-container div img{
    width: 45%;
    justify-items: center;
}

.sketchflex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    row-gap: 20px;
    margin-top: 25px;
}

.flexitem {
    width: 45%;
}

h2{
    margin: 50px;
}

form{
    display: block;
    margin: 50px;
}

label{
    font-size: 14px;
}

input{
    width: 50%;

}

textarea{
    overflow: auto;
    min-width: 60%;
}

.submit{
    font-family: 'Playfair Display', sans-serif;
    width: 16%;
    margin-left: 42%;
    margin-bottom: 40px;
}

#parallax{
    height: 195px;
    background-attachment: fixed; /* Parallax effect */
    background-position: center; /* Parallax effect */
    background-repeat: no-repeat;
    background-size: cover; /* Parallax effect */
    background-image: url(../imgs/contact.jpg);
}

h2{
    margin-top: 40px;
    margin-bottom: 40px;
}

footer{
    background-color: #F0E4DC  ;
    color: #37322E;
    width: 100%;
    height: 25px;
    bottom: 0;
}

footer p{ 
    font-family: 'Playfair Display', sans-serif;
    text-align: center;
    margin: auto 0;
    font-size: 10px;
}





@media only screen and (min-width: 500px) {
    header{
      display: inline;
      position: left; 
    }


    #selfport{
        display:inline;

    }
    #homep{
        display: inline;
    }


    nav{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        font-family: 'Marck Script', sans-serif;
        font-size: 1.2em;
    } 

    .grid-container{ 
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; 
      width: 100%;
      row-gap: 15px;
      column-gap: 15px;
      margin-top: 15px;
  } 

}


@media only screen and (min-width: 800px) {
    nav{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    } 

    h2{
        display: block;
        margin: 0 auto;
    }

}


/* Reduced Motion */
@media (prefers-reduced-motion: reduce) { 
    header {
        animation: none;
    }
}